.editor-main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
}
.form-content{
    display: flex;
    flex-direction: column;
}
.btn-form-bloc{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
label{
    font-weight: bold;
    margin:0.5em 0em;
}
button{
    border: none;
    cursor: pointer;
}
textarea{
    padding: 5px;
    resize: none;
    font-size: 1.3em;
}
.btn-edit{
    padding: 1em;
}
.btn-random{
  height: 1.5em;  
}